
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
       <h3 style="color:#ba54f5;margin-top:20px;">Note</h3>
       <p style="text-align: left;">
        We care for your health.Stay Home,Stay Safe.Maintain Social Distancing and Wear Mask.Your 
        health,Our First Priority
        </p>

        <li>
          <br />
        </li>
      </ul>

    </div>
  </div>
  