

      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a target="_blank" rel="noopener noreferrer"
                 href="https://appseed.us/admin-dashboards/django-dashboard-black" class="nav-link">
                Designed Specifically for NED University of Engineering and Technology
              </a>
            </li>
          </ul>
          <div class="copyright">
            &copy; <a target="_blank" rel="sponsored noopener noreferrer" 
                      href="https://bit.ly/3fKQZaL">RCCSDS</a> 
            - coded for <a target="_blank" rel="noopener noreferrer" href="https://www.neduet.edu.pk/">NED UET</a>
          </div>
        </div>
      </footer>
      
