

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a  rel="sponsored noopener noreferrer" 
             href="" class="simple-text logo-mini">
            <img src="/static/assets/img/logo.jpg">
          </a>
          <a  rel="sponsored noopener noreferrer" 
             href="" class="simple-text logo-normal">
            RCCSDS
          </a>
        </div>

        <ul class="nav">
        {% if request.user.is_authenticated %}

          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="{% if 'icons' in segment %} active {% endif %}">
            <a href="/ui-icons.html">
              <i class="tim-icons icon-camera-18"></i>
              <p>Real Time Monitoring</p>
            </a>
          </li>
          <li class="{% if 'maps' in segment %} active {% endif %}">
            <a href="/ui-maps.html">
              <i class="tim-icons icon-paper"></i>
              <p>Report Generation</p>
            </a>
          </li>
          <li class="{% if 'notifications' in segment %} active {% endif %}">
            <a href="/ui-notifications.html">
              <i class="tim-icons icon-email-85"></i>
              <p>Emails </p>
            </a>
          </li>
        
         
         
          <li>
            <a href="{% url 'logout' %}" >
              <i class="tim-icons icon-button-power"></i>
              <p>Logout</p>
            </a>
          </li>
          {% else %}
          <li class="active">
            <a target="_blank" >
              <i class="tim-icons icon-key-25"></i>
              <p>LOGIN FIRST PLEASE!!</p>
            </a>
          </li>   
          {% endif %}
                    
        </ul>
        
      </div>
    </div>
