{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">

      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h2 class="card-title">Video Analytics</h2>
                <div class="row1"style="display:flex">
                <div class="column" style="flex: 50%; padding: 5px;">
                  <img src="/static/assets/img/piechart.jpg" alt="Snow" style="width:100%; height:95%;margin-top: 5px;
                  
                   ">
                </div>
                <div class="column" style="flex: 33.33%; padding: 10px;">
                  <img src="/static/assets/img/graph.png" alt="Forest" style="height:200px; max-width: 331%;">
                </div>
                
               </div>
              
              </div>
              
              <div class="col-sm-6">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                  <label class="btn btn-sm btn-primary btn-simple active" id="0">
                    <input type="radio" name="options" checked>
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Type of Graph</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-single-02"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="1">
                    <input type="radio" class="d-none d-sm-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Time Filter</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-gift-2"></i>
                    </span>
                  </label>

                </div>
              </div>
              <div class="col-12 text-left">
                <p style="text-align: justify;">
                 The feature of Video Analytics help the admin to examine the situation of 
        SOPs violations in a particular area and  location through different types of  graphs. The Admin is also able to apply different filters of time and type of graph in order to get better insights
               </p>
               </div>
            </div>
            
          </div>
        
        </div>
        
      </div>
     

    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
           
            <h3 class="card-title"><i class="tim-icons icon-paper text-primary"></i> Report Generation</h3>
          </div>
          <div class="card-body">
            <p style="text-align: justify;">
              The Feature of Report Generator enables the admin to generate daily,monthly or yearly report about the SOPs violations and the no of safe and unsafe people in a specific view.
 
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
           
            <h3 class="card-title"><i class="tim-icons icon-camera-18 text-info"></i> Real Time Monitoring</h3>
          </div>
          <div class="card-body">
            <p style="text-align: justify;" >
              Real Time Monitoring enables to monitor video at a particular instant in order to get the  idea about the no of people and the proportion of safe and unsafe individuals in Real time



            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h3 class="card-title"><i class="tim-icons icon-email-85 text-success"></i>  Sending Emails </h3>
          </div>
          <div class="card-body">
           <p style="text-align: justify;">
             The Emails regarding the insights generated per day are send to the respective important members of the 
             organization.This is the responsibility of the admin.
          </div>
        </div>
      </div>
    </div>
    

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
