{% extends "layouts/base.html" %}

{% block title %} UI Notifications {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Email Addresses</h4>
      </div>
      <div class="card-body">
       
        <div class="alert alert-info alert-with-icon" data-notify="container">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-email-85"></i>
          </button>
          <span data-notify="icon" class="tim-icons icon-bell-55"></span>
          <span data-notify="message">mariyumsheikh820661@gmail.com.</span>
        </div>
        <div class="alert alert-info alert-with-icon" data-notify="container">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-email-85"></i>
          </button>
          <span data-notify="icon" class="tim-icons icon-bell-55"></span>
          <span data-notify="message">mariyumsheikh820661@gmail.com.</span>
        </div>
        <div class="alert alert-info alert-with-icon" data-notify="container">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-email-85"></i>
          </button>
          <span data-notify="icon" class="tim-icons icon-bell-55"></span>
          <span data-notify="message">mariyumsheikh820661@gmail.com.</span>
        </div>
        <div class="alert alert-info alert-with-icon" data-notify="container">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-email-85"></i>
          </button>
          <span data-notify="icon" class="tim-icons icon-bell-55"></span>
          <span data-notify="message">mariyumsheikh820661@gmail.com.</span>
        </div>
        <div class="alert alert-info alert-with-icon" data-notify="container">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-email-85"></i>
          </button>
          <span data-notify="icon" class="tim-icons icon-bell-55"></span>
          <span data-notify="message">mariyumsheikh820661@gmail.com.</span>
        </div>
        <div class="alert alert-info alert-with-icon" data-notify="container">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-email-85"></i>
          </button>
          <span data-notify="icon" class="tim-icons icon-bell-55"></span>
          <span data-notify="message">mariyumsheikh820661@gmail.com.</span>
        </div>      
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Sending Email</h4>
      </div>
      <div class="card-body">
        <form role="form" method="post" action="">
          <div class="card-body">
              <div class="row">
                <div class="col-md-6 px-md-1">
                  <div class="form-group">
                    <label>To</label>
                    <input class="form-control" id="username_login" name="username" required="" type="text" value="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 px-md-1">
                  <div class="form-group">
                    <label>From </label>
                    <input class="form-control" id="pwd_login" name="password" required="" type="password" value="">
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="form-label" for="customFile">Choose the Report File</label>
                 <input type="file" class="form-control" id="customFile" />
              </div>
              <br>
              <br>       
          </div>
          <div class="card-footer">
            <button type="submit" name="login" class="btn btn-fill btn-primary">Send Email</button>
           
        </form>
      </div>
    </div>
  </div>

                
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
